.App {
  font-family: 'Average', serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Combat-form {
  padding: 30px 5px 20px 5px;
}

.Combat-form label {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.Formula-buttons {
  padding: 15px;
}

.Formulas {
  background-color: #c99a6e;
  border: .5px solid #9e7753;
  border-radius: 3px;
  box-shadow: 1px 1px 1.5px #1f1710;
  font-family: 'Average', serif;
  font-size: 15px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.Result-display {
  margin: auto;
  width: 60px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10%;
}

#result {
  top: 50%;
  transform: translateY(-33%);
}

h3 {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
