.App {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.App-body {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #867453;
  color: white;
  height: 9.5em;
  width: auto;
  padding: 20px;
}

.App-title {
  font-size: 1.75em;
  text-shadow: 1px 2px 1px #1f1710;
}

.App-intro {
  display: inline-flex;
  font-size: large;
}

.Calculator {
  align-items: center;
  display: inherit;
  flex-flow: column wrap;
  width: 50%;
}

.Calculator-input {
  align-items: center;
  display: inherit;
  justify-content: center;
  width: 100%;
}

.Combat-form {
  align-items: center;
  background: #FDF1DC;
  border-top: 2px solid #E69A28;
  box-shadow: 2px 3px .25em #867453;
  display: inherit;
  flex-flow: column wrap;
  margin: 2.25em;
  padding: 2em .25em 1em;
  width: 80%;
}

.Combat-form label {
  align-items: flex-end;
  color: #922610;
  display: inherit;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
}

.Formula-buttons {
  display: inherit;
  justify-content: center;
  padding: 15px;
}

.Formulas {
  background-color: #c99a6e;
  border: .5px solid #c99a6e;
  border-radius: 3px;
  box-shadow: 2px 3px .15em #867453;
  font: 15px 'Average', serif;
  padding: 2px 5px;
  position: relative;
  margin: 10px 5px;
  transition: .2s ease-in;
}

.Formulas:hover {
  background-color: #dbb592;
  border-color: #dbb592;
  cursor: pointer;
  transition: .2s ease-in;
}

.Formulas:active {
  background-color: #aa815a;
  border-color: #aa815a;
  transition: .02s;
}

.Label-holder {
  align-items: center;
  display: inherit;
  flex-flow: column wrap;
  justify-content: center;
}

.Result-display {
  background: #FDF1DC;
  border-top: 2px solid #E69A28;
  border-radius: 5%;
  box-shadow: 2px 3px .25em #867453;
  height: 50px;
  margin: auto;
  width: 60px;
}

#result {
  color: #922610;
  top: 50%;
  transform: translateY(-33%);
}

body {
  background-image: url("/assets/imgs/phb_bg.png");
  background-repeat: repeat-y;
}

h3 {
  text-decoration: underline;
}

input[type=number] {
  border-radius: 2px;
}

input, select {
  border: none;
  box-shadow: 1px 1px 2px #FDF1DC;
  margin: 2px;
  transition: .2s ease-in;
}

input:focus, select:focus {
  box-shadow: 1px 1px .2em #E69A28;
  transition: .35s ease-in;
}

select[type=number] {
  border-radius: 2px;
}
